






#C_pageBody a,
#C_pageBody a:link,
#C_pageBody a:visited,
#C_pageBody a:hover,
#C_pageBody a:active,
#C_pageBody .theme-color--link{

color: ;

}
#C_pageBody .link-border {
border-color: rgba(0,0,0,1);
}
#C_pageBody .link-background {
background-color: ;
}

#C_pageBody .theme-color--background {
color: ;
}
#C_pageBody .theme-color--header {
color: ;
}
#C_pageBody .theme-color--action {
color: ;
}
#C_pageBody .theme-bgcolor--actionlist li:hover {
background-color: ;
}
#C_pageBody .theme-color--actionlist li:hover a {
color: #ffffff;
}
.ie6 #C_page,
.ie7 #C_page,
.ie8 #C_page {

}
#C_page {

background-image: none;

background-position: left top;
background-repeat: repeat;

background-color: ;

}

#chapter-banner {
background-color: #313131;

background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 429, color-stop(0%, rgba(0,0,0,0)), color-stop(150%, rgba(112,112,112,0.4)));
background-image: -webkit-radial-gradient(center top, farthest-corner circle, rgba(0,0,0,0) 0%, rgba(112,112,112,0.4) 150%);
background-image: -moz-radial-gradient(center top, farthest-corner circle, rgba(0,0,0,0) 0%, rgba(112,112,112,0.4) 150%);
background-image: -ms-radial-gradient(center top, farthest-corner circle, rgba(0,0,0,0) 0%, rgba(112,112,112,0.4) 150%);
background-image: -o-radial-gradient(center top, farthest-corner circle, rgba(0,0,0,0) 0%, rgba(112,112,112,0.4) 150%);
background-image: radial-gradient(farthest-corner circle at center top, rgba(0,0,0,0) 0%, rgba(112,112,112,0.4) 150%);

}
#chapter-banner h1 a {
text-shadow: none; /*reset base css first; add it again only if applicable*/

color: #FFFFFF!important;
//text-shadow: rgba(0,0,0,.2) -1px -1px 0;

}

/* dark pill color */
.chapter-menu > li.open-dropdown a,
.chapter-menu > li:hover > a,
.chapter-menu > li:focus > a,
.chapter-menu > li > a:active,
.chapter-menu > li.selected > a,
.chapter-menu > li.selected:hover > a,
.chapter-menu > li.selected:focus > a,
.chapter-menu > li.dropdown:hover > a,
.chapter-menu > li.dropdown:hover > a:after,
.chapter-menu > li.dropdown:focus > a,
.chapter-menu > li.selected.dropdown:hover > a,
.chapter-menu > li.selected.dropdown:focus > a,
.chapter-menu .dropdown-menu,
.chapter-menu .dropdown-menu > li > a {
color: #fff !important;
background-color: #313131;
}
/* notificiations */
.chapter-menu .notify > a:before {
background-color: #313131;
}
.chapter-menu .notify:hover > a:before {
background-color: #fff !important;
}
.chapter-menu .dropdown-menu .notify:hover > a:before {
background-color: #313131 !important;
}
.chapter-menu > li.selected > a:before {
background-color: #ffffff;
}
/* dropdown-specific */
.chapter-menu .dropdown-menu {
border-color: #313131;
}

#chapter-banner,
#chapter-banner h1 {
padding: 0 !important;
}
#chapter-banner h1 a {
padding: 0 !important;
background-image: url('../../../photos1.meetupstatic.com/photos/theme_head/2/f/1/4/full_2592052.jpeg');
background-repeat: no-repeat;
background-position: top center;
height: 150px;
display: block;
}
#chapter-banner a span {
display: none;
}

.featured-callout .featured-text {

color: #FFFFFF!important;

background: #313131;
}
.featured-callout .featured-pointer {
border-left-color:#313131;
}
.featured-callout .featured-ribbon {
border-right-color:#636363;
}

/**
* Sassquatch theme overrides
*/

/* {{{ Buttons (this is what happens when you author CSS with JSTL instead of Sass) */

/* }}} */

